# Dependencias PHP
/vendor/

vendor.zip

# Variables de entorno y credenciales
.env

# Dependencias Node
/node_modules/

# Logs
*.log

# Archivos temporales
/tmp/
/cache/

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db